/* 
Default Themes
--------------

  Font: Raleway and Open Sans 
  Colors: 
    Moon Yellow: #f4c613
    Greay: #212226
    White Smoke: #f4f4f4
    White: #fff
    Black: #000;
*/
:root{
  --Moon-Yellow: #f4c613;
  --Greay: #212226;
  --White-Smoke: #f4f4f4;
  --White: #fff;
  --Black: #000;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ----Utilities---- */
a{
  font-family: 'Open Sans';
}
h1,h2,h3,h4,h5,h6,p,
.btn{
  font-family: 'Raleway';
}
.btn{
  font-size: 0.8rem;
  transition: all 0.5s linear;
}
.btn-md{
  padding: 0.85rem 2.8rem;
  color: var(--White);
  background-color: transparent;
  border: 1px solid;
  border-radius: 50px;
}
h1{
  font-size: 380%;
  font-weight: 200;
}
h2{
  font-size: 250%;
  font-weight: 200;
}
h3{
  font-size: 150%;
  font-weight: 200;
}
h4{
  font-size: 100%;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
}
.facebook:hover{
  background-color: #1877F2;
}
.google:hover{
  background-color: #CD201F;
}
.twitter:hover{
  background-color: #1DA1F2;
}
.container{
  padding: 120px 0 100px;
  
}
/* .container-full{

} */
.row{
  max-width: 1200px;
  margin: 0 auto;
}
.row-full{
  max-width: 100%;
}

/* .clear-fix{
  zoom:1;
} */
.clear-fix{
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.head-text{
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.head-side{
  justify-self: center;
  color: var(--Moon-Yellow);
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  word-spacing: 5px;
  font-weight: 600;
  margin-bottom: 20px;
  transform:  translate(-45%, 5px) rotate(-90deg);
}
.head-main{
  line-height: 1.2;
  transform: translateX(-80px);
}
.head-main span{
  font-weight: bold;
}
.text-box{
  font-size: 0.85rem;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

body{
  background-color: var(--White);
  position: relative;
  overflow-x: hidden;
}

/* ----Header---- */
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.header{
  background-color: transparent;
  height: 120px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.scroll{
  height: 80px;
}
.header-ul{
  padding-right: 0px;
  display: inline-block;
}
.header-ul li{
  display: inline-block;
  padding-right: 30px;
}
.header-ul li a{
  font-size: 0.9rem;
  color: var(--White);
  transition: color 0.3s linear;
}
.header-ul.dark li a{
  color: var(--Black);
}
.header-ul li.active a,
.header-ul li:hover a,
.header-mobile ul li:hover a,
.nav-close:hover{
  color: var(--Moon-Yellow);
}
.hamburger{
  padding-right: 10px;
  font-size: 30px;
  color: var(--Moon-Yellow);
  cursor: pointer;
  display: none;
  transition: transform 0.5s linear;
}
.hamburger:active{
  transform: scale(0.9);
}
.header-mobile{
  background-color: var(--White);
  width: 100vw;
  height: 0vh;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0.9;
  overflow-y: hidden;
  display: none;
}
.header-mobile.open{
  animation: mobile-nav-open 0.5s linear;
  height: 100vh;
}
.header-mobile.close{
  animation: mobile-nav-close 0.5s linear;
  height: 0vh;
}
@keyframes mobile-nav-open{
  0%{
    height: 0vh;
  }
  50%{
    height: 50vh;
  }
  100%{
    height: 100vh;
  }
}
@keyframes mobile-nav-close{
  0%{
    height: 100vh;
  }
  50%{
    height: 50vh;
  }
  100%{
    height: 0vh;
  }
}
.header-mobile ul{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-mobile ul li{
  padding: 10px 0;
}
.header-mobile ul li a{
  color: var(--Black);
  transition: color 0.3s linear;
}
.nav-close{
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s linear;
}



/* ---------HOME--------- */

.home{
  width: 100vw; 
  height: 100vh;
  margin-top: -120px;
  position: relative;
}
.home-bg-video{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;  
  z-index: -2;
}
.overlay{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;   
}
.home-contents{
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--White);
  z-index: 0;
}
.home-contents h1{
  margin-top: -20px;
  padding-bottom: 0.9rem;
  letter-spacing: 1px;
}
.home-contents h1 span{
  color: var(--Moon-Yellow);
  font-weight: 400;
  z-index: 0;
}
.home-contents p{
  padding-bottom: 1.5rem;
}
.home-contents .btn:hover{
  background-color: var(--Moon-Yellow);
  border-color: var(--Moon-Yellow);
}
.home-arrow{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: arrow 1.5s linear infinite;
}
.home-arrow a{
  color: var(--White);
  font-size: 20px;
}
@keyframes arrow{
  0%{
    bottom: 40px;
  }
  25%{
    bottom: 35px;
  }
  50%{
    bottom: 30px;
  }
  75%{
    bottom: 25px;
  }
  100%{
    bottom: 20px;
  }
}
/* 
----------------ABOUT-------------------- */
.about{
  background-color: inherit;
}
.about-contents{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.about-header,
.about-text{
  width: 50%;
}
.about-photo{
  width: 70%;
  
}


/* -------------Mission----------------- */
.mission{
  background-color: var(--White-Smoke);
  padding: 100px 0;
}
.mission-contents{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}
.mission-content{
  background-color: var(--White);
  padding: 80px 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.6s linear 0.3s;
}

.mission-logo{
  font-size: 35px;
  margin-bottom: 20px;
  transition: transform 0.4s linear;
}
.mission-content h3{
  text-transform: uppercase;
  padding-bottom: 8px;
}
.mission-overlay{
  width: 40px;
  height: 3px;
  margin-bottom: 20px;
  background-color: var(--Moon-Yellow);
  transition: all 0.6s linear 0.3s;
}
.mission-content:hover{
  background-color: var(--Moon-Yellow);
  color: var(--White);
}
.mission-content:hover .mission-overlay{
  background-color: var(--White);
}
.mission-content:hover .mission-logo{
  transform: translateY(-40%);
}
.mission-content p{
  text-align: center;
}

/* ---------------TEAM-------------------- */
.team-contents{
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 20px;
}
.team-content-box{
  width: 50%;
  /* padding-right: 10px; */
}
.team-head{
  margin-bottom: 30px;
}
.team-member{
  width: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-member-contents{
  margin: 0px 25px 40px;
  overflow: hidden;
  width: 520px;
  height: 255px;
  position: relative;
}
.team-member-content{
  width: 255px;
  height: 255px;
  position: absolute;
  top: 0;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.8s linear;
}
.team-member-content:hover .team-member-text{
  display: flex;
}

.team-member-content.left{
  left: 0;
  opacity: 1;
  transform: scale(1);
}
.team-member-content.right{
  right: 0;
  opacity: 1;
  transform: scale(1);
  
}


.team-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.team-button i{
  font-size: 22px;
  cursor: pointer;
}
.team-member-text{
  border: 1px solid;
  width: 100%;
  height: 105%;
  /* padding-bottom: -15px; */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s linear;
}

.team-member-text h4{
  color: var(--Moon-Yellow);
}
.team-member-text p,
.team-member-text a i{
  color: var(--White);
}
.team-member-text p{
  margin-top: 8px;
  margin-bottom: 20px;
}
.team-member-text ul,
.team-member-text li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.team-member-text li{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 10px 3px 0;
  border: 1px solid var(--White);
}

.progress{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
}
.progress-bar-content{
  min-width: 49%;
}
.progress p{
  font-size: 1.2rem;
  padding-bottom: 20px;
}
.progress-bar{
  background-color: var(--White-Smoke);
  height: 25px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  margin-bottom: 30px;
}
.bar{
  background-color: var(--Moon-Yellow);
  height: 25px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  transition: width .6s ease;
  position: relative;
}
.bar span{
  background-color: var(--Greay);
  color: var(--White);
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: -50px;
  transform: translateX(50%);
}
.bar span::before{
content: "";
border-top: 8px solid #212226;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
position: absolute;
bottom: -8px;
}




/* ----------------Media Queries-------------- */

/* large screen */
@media(max-width:1200px){
  .container{
    padding: 110px 0 100px;
    
  }
  .row{
    max-width: 980px;
  }
  h1{
    font-size: 300%;
  }
  .btn-md{
    padding: 0.8rem 2.4rem;
  }

   /*TEAM*/
   .team-member-contents{
    margin: 0px 0px 40px;
    width: 450px;
    height:220px;
  }
  .team-member-content{
    width: 220px;
    height: 220px;
  }
}

/* median screen */
@media(max-width:992px){
  .container{
    padding: 100px 0 80px;
    
  }
  .row{
    max-width: 750px;
    margin: 0 auto;
  }
    h1{
      font-size: 250%;
    }
    h2{
      font-size: 200%;
    }
    
    .btn-md{
      padding: 0.75rem 2rem;
    }
    .home-contents p{
      font-size: 0.9rem;
    }
    .head-main{
      line-height: 1.4;
    }

  /*TEAM*/
   /*TEAM*/
   .team-member-contents{
    margin: 0px 0px 30px;
    width: 370px;
    height:180px;
  }
  .team-member-content{
    width: 180px;
    height: 180px;
  }
}
/* small screen */
@media(max-width: 768px){ 
  .row{
    max-width: 100%;
    padding: 0 15px;
  }
  h1{
    font-size: 150%;
  }
  h2{
    font-size: 180%;
  }
  .btn-md{
    padding: 0.7rem 1.8rem;
  }


  .head-text{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    }
  .head-side{
    justify-self: center;
    margin-bottom: 15px;
    transform:  translate(0) rotate(0);
  }
  .head-main{
    line-height: 1.1;
    transform: translateX(0);
    margin-bottom: 35px;
  }


 /* .header */
  .header{
    height: 80px;
  }
  .header.scroll{
    height: 60px;
  }
  .header-ul{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .header-mobile{
    display: block;
  }


  /* HOME */
  .home{
    margin-top: -80px;
  }
  .home-contents p{
    font-size: 0.8rem;
  }

  /*About*/
  .about-contents{
    flex-direction: column;
    margin-bottom: 60px;
  }
  .about-header,
  .about-text{
    width: 100%;
    text-align: center;
  }

  /* Mission */
  .mission-contents{
    flex-direction: column;
  }
  .mission-content{
    padding: 50px 20px;
  }
 
   /*TEAM*/
   .team-contents{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
   }
   .team-content-box,
   .team-member{
     width: 100%;
   }
   .team-head{
     margin-bottom: 10px;
   }
   .team-text{
     margin-bottom: 20px;
     padding: 0 15px;
   }
    .team-member-contents{
      margin: 0px auto 40px;
      width: 520px;
      height:255px;
    }
    .team-member-content{
      width: 255px;
      height: 255px;
    }

    .progress-bar-content{
      min-width: 100%;
    }

}
/* extra small screen */
@media(max-width: 540px){
  .container{
    padding: 90px 0 80px;
    
  }
  .row{
    padding: 0 10px;
  }
  .team-member-contents{
    margin: 0px auto 40px;
    width: 270px;
    height:270px;
  }
  .team-member-content{
    width: 270px;
    height: 270px;
  }
}